html {
    box-sizing: border-box;
}


:root {
    --primary-color: rgb(6, 18, 42);
    --secondary-color: rgb(15, 67, 104);
    --tertiary-color: rgb(188, 138, 112);
    --backup-color: rgb(241, 217, 206);
    --white--color: rgb(255, 255, 255);
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    scroll-behavior: smooth;
  
}

.home--header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-around;
    height: 5rem;
    align-items: center;
    color: var(--tertiary-color);
    box-shadow: 5px 0 2px 0 var(--backup-color);
}

.home--header__title {
    font-size: clamp(1.2rem, 2.4vw, 1.7rem);
}

.home--header__img {
    height: 1.9rem;
    aspect-ratio: 1;
    border-radius: 50%;
   
}

.home--nav .home--list {
    display: flex;
    list-style: none;
}

.home--list__item  a {
    margin-right: 0.3rem;
    font-size: clamp(0.8rem, 1.4vw, 1.2rem);
    color: var(--tertiary-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.home--list__item a:hover, 
.hero--main__small-link:hover  {
    color: var(--backup-color);
}

.main--header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    
 }

 .main--page__header {
    text-transform: capitalize;
    color: var(--primary-color);
    font-size: clamp(1.8rem, 4.5vw, 2.5rem);
    margin-block: 2.8rem;
    border-right: 0.3rem solid var(--secondary-color);
    white-space:nowrap;
    overflow: hidden; 
    animation: draw 6s steps(20) infinite;
}

.bottom {
    border-bottom: 2px solid var(--backup-color);
    margin-top: 1.2rem;
    border-width: 0.1rem;
}

@keyframes draw {
    from {
        width: 0px;
    }

    to {
        width: 270px;
    }
}

 .main--section, .main--aside {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.main--section__body, 
.main--section__img, 
.main--section__info,
.main--section__paragraph,
.main--section__lang,
.main--aside,
.main--aside__motivation,
.main-aside__header,
.main-aside__paragraph,
.main--aside__social,
.main--aside__list,
.main--aside__subscribe,
.html,
.css,
.javascript,
.fa-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main--section__link,
.main--aside__subscribe a  {
    display: inline-block;
    text-decoration: none;
    background: var(--tertiary-color);
    padding: 10px 15px;
    color: var(--white--color);
    font-size: 0.9rem;
    margin-bottom: 1.2rem;
    transition: all .5s ease-in-out;
}

.main--section__link:hover,
.main--aside__subscribe a:hover  {
    background: var(--backup-color);
    color: var(--tertiary-color);
}

.main--section__title {
    color: var(--primary-color);
    font-style: italic;
    margin-bottom: 0;
}

.hero--main_span {
    margin-bottom: 0.6rem;
    color: var(--tertiary-color);
}

.main--section__img img {
    display: block;
    max-width: 100%;
    width: 18.7rem;
    border-radius: 0.3rem;
}

figcaption {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.main--section__paragraph,
.main--section__html-paragraph,
.main--section__css-paragraph,
.main-aside__paragraph,
.main--section__javascript-paragraph{
    font-size: 0.9rem;
    width: 85%;
}


.main--section__languages,
.main--aside__header,
.main--aside__title {
    text-transform: capitalize;
    color: var(--primary-color);
}

.main--section__html-header,
.main--section__css-header,
.main--section__javascript-header {
    text-transform: uppercase;
    color: var(--tertiary-color);
    margin-bottom: 0;
}

.main--aside__list {
    flex-direction: row;
    gap: 2.9rem;
    list-style: none;
    margin-left: -37px;
    
}

.main--aside__list img {
    height: 1.4rem;
    transition: all 0.5s ease-in-out;
    display: block;
    max-width: 100%;
}

.main--aside__list img:hover {
   transform: scale(1.5);
}

.main--aside__title {
    margin-block: 1.5rem;
}

.main--aside__subscribe a {
    margin-block: 3.2rem;

}

.linkedin,
.twitter,
.github {
    background: var(--backup-color);
    padding: 0.1rem;
}

.footer {
    grid-column: 1 / -1;
    height: 10rem;
    background: var(--primary-color);
    color: var(--tertiary-color);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}




@media(min-width: 600px) and (max-width: 850px) {
    .main--section__img img {
        width: 34.7rem;
        height: 20rem;
    }

    .main--section__link,
    .main--section__title,
    .hero--main_span {
        display: none;
    }

    .main--page__header {
        border-right: none;
    }

    @keyframes draw {
        from {
            display: none;
        }
    
        to {
            display: none;
        }
    }
  
}



@media (min-width: 850px) {
    body {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-auto-rows: minmax(100px, auto);
    }

    .main--section__link,
    .main--section__title,
    .hero--main_span {
        display: none;
    }

    .home--header,
    .footer,
    .main--header {
        grid-column: 1 / -1;
    }

    .main--section {
        grid-column: span 3;
    }

    .main--aside {
        grid-column:  4/ 4;
        
        margin-right: 1.8rem;
        border: 1px solid var(--tertiary-color);
        box-shadow: 0 2px 2px 0 var(--backup-color);
        padding: 0 0.1rem;
        text-align: center;
    }

    .main--section__lang{
        flex-direction: row;
        margin-left: 3.2rem;
    }

    .main--section__img img {
        width: 36.7rem;
        height: 20rem;
    }

    .main--page__header {
        font-size: 3rem;
        margin-block: 3.5rem;
    }

    @keyframes draw {
        from {
            width: 0px;
        }
    
        to {
            width: 448px;
        }
    }

   .footer {
    margin-top: 6rem;
   }
}